/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

/* Background style for the blue-box */
.blue-box {
    background-color: #3052f5;
    height: 100vh;
    width: 100vh;
}

/* Style for the navbar */
.navbar {
    /* background-color: #3052f5; */
    background-color: rgba(48, 82, 245, 0.6);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 2;
    backdrop-filter: blur(10px); /* Add the blur effect */

}

/* Style for the logo text */
.logo-text {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin: 0;
}

/* Style for the navigation links */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin-left: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
}

.main-body-text {
    color:#3052f5 ;
    position: absolute;
    top: 12%;
    text-align: left;
    font-size: 20px;
    padding-left: 20px; 
    z-index: 1;
}

.main-body-para {
    width: 65%;
    line-height: 1.5;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
}

.team-list{
    line-height: 1.5;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px; 
}

.team-list p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 0;
    font-weight: bold;
    color: #3052f5;
    padding-left: 20px; 
}

.main-body-text h2 {
    line-height: 1.5;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}



/* Add a big circle */
.main-body-text::before {
    content: '';
    width: 105rem;
    height: 76rem;
    background-color: #fff;
    border-radius: 0% 45% 55% 0%;
    position: absolute;
    top: 35%;
    left: -45rem; /* Adjust this value to position the circle */
    transform: translateY(-50%);
    z-index: -1;
}

