/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

/* Background style for the blue-box */
.blue-box {
    background-color: #3052f5;
    height: 100vh;
    width: 100vh;
}

/* Style for the navbar */
.navbar {
    background-color: #3052f5;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 2;
}

/* Style for the logo text */
.logo-text {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin: 0;
}

/* Style for the navigation links */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin-left: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
}

/* Style for the main body text (if any) */
.main-body-text {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.chat-bot {
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    background-color: #1e1f22;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
}  



/* Style for the chatbot iframe */
#chatbot {
    width: 100%; /* Take up the full width */
    height: 100%; /* Take up the full height */
    border: none; /* Remove iframe border */
    max-width: none; /* Remove the max-width */
}

/* Style for the robot-img container */
.robot-img {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: -20px; /* Adjust the margin as needed */
    z-index: 1;
}

/* Style for the robot image */
.robot-img img {
    width: 200px; /* Adjust the width of the robot image as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Style for the ai-heading */
.ai-heading {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px; /* Adjust the font size as needed */
    font-weight: 1000; /* Add font-weight as needed */
    z-index: 1;
}
